apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-docker-deployment
  namespace: default
  labels:
    app: demo-docker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-docker
  template:
    metadata:
      labels:
        app: demo-docker
    spec:
      containers:
        - name: demo-docker
          image: juanriveraorg/demo-docker:$COMMIT_SHA1
          ports:
            - containerPort: 80
              name: http